@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject BethanysPieShop.Models.ShoppingCart cart
@if (IsSectionDefined("Styles"))
{
    @RenderSection("Styles")
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Great+Vibes&family=Poppins&family=Rokkitt:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/content/site.css">
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/e19c476714.js"></script>
    <script src="~/content/script.js"></script>
</head>
<body class="bg-white">
    <header>
        <div class="container-fluid mt-4 p-0">
            <div class="row">
                <div class="col-lg-1">
                </div>
                <div class="col-sm-3 col-lg-3">
                    <i class="fas fa-map-marker-alt fa-2x text-left float-left mr-2" style="color: #c14679"></i>
                    523 Sylvan Ave<br />
                    Mountain View, CA 94041 USA
                </div>
                <div class="col-sm-4 col-lg-4 text-center mt-lg-0">
                    <a asp-controller="Home" asp-action="Index"><img src="~/Images/logo-default-231x49.png" /></a>
                </div>
                <div class="col-sm-3 col-lg-3 text-right mt-lg-0">
                    <a class="text-decoration-none button button-sm button-icon button-default-outline-3 button-zakaria"><span class="icon mdi mdi-email-outline far fa-envelope"></span>Contact us</a>
                </div>
                <div class="col-lg-1">
                </div>
            </div>
        </div>
    </header>
    <div class="header container-fluid navbar-top p-0" id="stickyHeader">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar  navbar-expand-md navbar-light bg-white mx-0 px-0" role="navigation">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="container-fluid mx-0 px-0">
                            <div class="col-lg-1"></div>
                            <div class="navbar-nav mt-2 mt-lg-0 mr-auto ml-0">
                                <a asp-controller="Home" class="nav-item nav-link active" asp-action="Index">Home</a>
                                @await Component.InvokeAsync("CategoryMenu")
                                <a asp-controller="Contact" class="nav-item nav-link" asp-action="Index">Contact</a>
                            </div>
                            <div>
                                @{
                                    var count = cart.GetShoppingCartCount();
                                    <span id="cart-status" style="color: #c14679">
                                        @if (count != 0)
                                        {
                                            @count
                                        }
                                    </span>
                                }
                                <a asp-controller="ShoppingCart" asp-action="Index" class="shopping-cart-nav shopping-cart-icon"></a>
                            </div>
                            <partial name="_LoginPartial" />
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.min.js"
            type="text/javascript"></script>
    <script>
        window.onscroll = function () { myFunction() };

        var header = document.getElementById("stickyHeader");
        var sticky = header.offsetTop;

        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }

        $(function () {
            // Document.ready -> link up remove event handler
            $(document).on('click', '.AddToCartLink', function (e) {
                // Get the id from the link
                var recordToAdd = $(this).attr("data-id");
                if (recordToAdd != '') {
                    // Perform the ajax post
                    $.post("/ShoppingCart/AddToShoppingCart", { "pieId": recordToAdd },
                        function (data) {
                            $('#cart-status').text(data.cartCount);
                            $("#addButton").load(" #addButton");
                            $(".productsList").load(" .productsList");
                        });
                }
            });
        });
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
