@page
@model LoginModel

@section Styles {
    <link rel="stylesheet" href="~/content/loginPageStyle.css" />
}

<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Sign In</h5>
                <div asp-validation-summary="All" class="text-danger"></div>
                <form id="account" method="post">
                    <div class="form-group">
                        <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email address" required autofocus />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="Input.Password" class="form-control" placeholder="Password" required />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase mb-2" type="submit">Sign in</button>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                    <hr class="my-4">
                    <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
                    <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
